
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= simple_form_for (travel) do |form| %>
      <%= form.input :title, label: 'Titre'%>
      <%= form.input :destination, label: 'Destination'%>
      <%= form.input :duration, label: 'Durée'%>
      <%= form.input :deal, label: 'Bon Plan'%>
      <%= form.input :story, label: 'Histoire'%>
      <%= form.input :narrative, label: 'Annecdote'%>
      <%= form.file_field :photo%>
      <%= form.button :submit %>
    <% end %>
  </div>
</div>
