
<div class="travels">
  <h1><%= @travel.title %></h1>

  <%= cl_image_tag @travel.photo %>

  <section class="row travel">
    <div class="col-sm-8">
      <p>Ville: <%= @travel.title %></p>
    </div>
  </section>

  <%= render "travels/button_list" %>
  <%= render "travels/button_list_favo" %>

</div>
